[submodule "frontend"]
path = Frontend/Vite
url = https://github.com/kiblykat/ReviewRoom-frontend.git
[submodule "TheReviewRoom-FastAPI"]
path = Ports/TheReviewRoom-FastAPI
url = https://github.com/nhkhai/TheReviewRoom-FastAPI.git
[submodule "TheReviewRoom-Go"]
path = Ports/TheReviewRoom-Go
url = https://github.com/nhkhai/TheReviewRoom-Go.git
