<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define a common variable -->
    <property name="AppLogPath" value="./logs" />
    <!-- Define a Console Appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Define the log message format -->
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <!-- Define a Console2 Appender -->
    <appender name="Console2" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Define the log message format -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}):
                %msg%n%throwable
            </pattern>
        </layout>
    </appender>
    <!-- Define a File Appender -->
    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <!-- Specify path to log file -->
        <!-- <file>logs/application.log</file> -->
        <file>${AppLogPath}/application.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="RollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${AppLogPath}/application.log</file>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %p %C{1.} [%t] %m%n</pattern>
        </encoder>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${AppLogPath}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <!-- Set root log level to "INFO" -->
    <root level="info">
        <!-- Reference the "Console" appender for console output -->
        <appender-ref ref="Console" />
        <!-- <appender-ref ref="Console2" /> -->
        <!-- Reference the "File" appender for file output -->
        <appender-ref ref="File" />
        <!-- Reference the "RollingFile" appender for file output -->
        <!-- <appender-ref ref="RollingFile" /> -->
    </root>
    <!-- LOG "sg.com.smartinventory*" at "TRACE" level -->
    <!--
    <logger name="sg.com.smartinventory" level="trace" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>
    -->
</configuration>